<div>ACR: <strong>LOA1</strong></div>
<div>Email: <strong><%= @userinfo["email"] %></strong></div>
<div>UUID: <strong><%= @userinfo["sub"] %></strong></div>
<%= if @userinfo["first_name"] do %>
  <div>Name: <strong><%= @userinfo["first_name"] %> <%= @userinfo["last_name"] %></strong></div>
<% end %>
<%= if @userinfo[:social_security_number] do %>
  <div>SSN: <strong>###-##-<%#= @userinfo[:social_security_number].split(//).last(4).join %></strong></div>
<% end %>
